@import "../node_modules/bootstrap/scss/mixins/breakpoints";
@import "variables.scss";
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");

.bottom-footer {
  background: #5AC4BE;
  padding: 0 4.5rem;
  .text{
    color: #fff !important;
    padding: 15px 0;
    font-family: "Nunito Sans", sans-serif;
  }
}