.home-achievements {
  padding: 50px 4.5rem;
  .common-title-section {
    margin-bottom: 30px;
  }
  .left {
    position: relative;
    img {
      width: 100%;
    }
    .arrow {
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 25px;
      top: 50%;
      cursor: pointer;
    }
    .arrow-left {
      left: 30px;
    }
    .arrow-right {
      right: 30px;
      transform: rotateY(180deg);
    }
    .dash-list {
      position: absolute;
      width: 100%;
      left: 0;
      display: flex;
      justify-content: center;
      bottom: 20px;
      .dash {
        height: 4px;
        width: 32px;
        background: #fff;
        border-radius: 100px;
        margin: 0 2px;
      }
      .active{
        background: #5AC4BE !important;
      }
    }
  }
  .right {
    div {
      padding: 20px;
      border-left: 2px solid transparent;
      cursor: pointer;
    }
    .active {
      background: #f5f6fa;
      border-color: #5ac4be;
    }
  }
  .content{
    padding: 15px 0;
  }
}
