@import "../node_modules/bootstrap/scss/mixins/breakpoints";
@import "variables";

.fixedTop {
  z-index: 500;
}
nav.navbar {
  min-height: $navbar-height * 0.75; /* approximate max height */
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  box-shadow: 0px 0px 6px rgba(108, 115, 141, 0.24);
  .navbar-brand {
    padding: 0px !important;
  }
  &.nav-hide {
    height: 0;
    min-height: 0;
    max-height: 0;
    overflow-y: hidden;
  }
  .text-logo {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #1d243e;
    padding-left: 10px;
  }
  .iconMenu {
    margin-right: 10px;
    padding: 0 10px;
    cursor: pointer;
  }
  .navbarCollapse.collapse {
    //overflow-y: hidden;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

    &.hide {
      height: 0;
      max-height: 0;
    }
  }
  .btnMenu {
    border: none;
    outline: none;
    &:active {
      outline: none;
    }
  }
  .navItem {
    &.iconItem {
      & > img.icon {
        height: 33.1px;
      }

      &.badgeShow {
        .badge {
          transition: all 0.5s;
          display: block;
          position: absolute;
          top: -5px;
          right: -5px;
          background-color: #eb5757;
          border-radius: 50%;
          min-width: 20px;
          padding: 2px;
          color: #fff;
          border: 2px solid #ffffff;
        }
      }
    }

    &.userProfile {
      .dropdown-item {
        cursor: pointer;
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        padding: 15px 12px;
        display: inline-flex;
        align-items: center;
        max-height: 40px;
        &:hover {
          background: rgba(48, 195, 177, 0.2);
        }
        .icon {
          width: 20px;
          height: 20px;
        }
      }

      .icon-small {
        width: 17px;
        height: 19px;
      }
      .dropdown-toggle::after {
        display: none;
      }
      .dropdown-menu {
        // @include media-breakpoint-up(lg) {
        //   width: 383px;
        //   right: -96.5px;
        // }
        background: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        // @include media-breakpoint-down(md) {
        //   position: relative;
        // }

        &::after {
          position: absolute;
          top: -9px;

          left: auto;
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-left: 9px solid transparent;
          border-right: 9px solid transparent;
          border-bottom: 9px solid $primary;
          // @include media-breakpoint-up(lg) {
          //   right: 106.5px;
          // }
          // @include media-breakpoint-down(md) {
          //   left: 60px;
          // }
          /*        position: absolute;
                    top: -5px;
                    left: 30px;*/
        }
        .dropdown-header {
          background-color: $primary;
          height: 81px;

          .user-profile {
            width: 100%;
            height: 100%;
            padding-top: 14.79px;
            padding-bottom: 14.79px;
            padding-left: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            .avatar {
              width: 55px;
              height: 55px;
              border-radius: 50%;
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            .info {
              margin-left: 14.79px;

              .name {
                font-family: Arial, sans-serif;
                font-size: 18px;
                line-height: 20px;
                text-transform: uppercase;
                color: white;
                cursor: pointer;
              }
              .email {
                font-family: Arial, sans-serif;
                font-size: 14px;
                line-height: 20px;
                color: white;
              }
            }
          }
        }
        .dropdown-footer {
          border-top: 1px solid $primary;
          padding: 16px 12px 34px;
          .title {
            font-family: Nunito, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            //line-height: 27px;
            color: $black;
            margin-bottom: 16px;
          }
          .description {
            font-family: Nunito, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: $black;
          }
        }
        .menu-container {
          padding-top: 9px;
          padding-bottom: 9px;
        }
      }
    }
    .navLink {
      cursor: pointer;
      // font-weight: bold;
      font-family: $font-family-main;
      font-size: 16px;
      line-height: normal;
      color: #000000;
      height: 100%;
      display: flex;
      align-items: center;
      margin-left: 32px;
      .icon {
        width: 25px;
        height: 25px;
      }
      &:hover {
        color: #30c3b1;
      }
    }
  }
  .nav-avatar {
    border-radius: 100%;
    box-shadow: 0 0 3px gray;
  }
  .nav-name {
    padding-left: 5px;
    color: #30c3b1;
  }
}

@media (min-width: 920px) {
  nav.navbar {
    &.opacity {
      // @include media-breakpoint-up(lg) {
      //   background-color: rgba(255, 255, 255, 1);
      // }
    }
    &.opacity-mobile {
      // @include media-breakpoint-down(md) {
      //   background-color: rgba(255, 255, 255, 1);
      //   border-bottom: 1px solid #333;
      // }
    }
    background-color: rgba(255, 255, 255, 0);
  }
}
@media (max-width: 920px) {
  .logoBox {
    //margin: 0px auto;
    margin-left: 24px;
  }
  .logo {
    margin-left: 23px;
  }
  .navbar-brand {
    padding: 0px !important;
  }

  .languege {
    margin-left: 24px;
  }
  .logoMobile {
    img {
      transform: scale(0.7);
    }
  }
  .btnMenu {
    margin-right: 10px;
    transition: 0.3s all;
    span {
      transition: 1s all;
    }
  }
  .navbar {
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgb(207, 207, 207);
  }
}

.navbar-brand,
.logoBox {
  cursor: pointer !important;
}
