.register-try {
  background: #f5f6fa;
  padding: 50px 0;
  .bg-register-try {
    width: 80%;
    margin-left: 10%;
  }
  .mv{
    margin: 20px 0;
  }
  .mr{
    margin-right: 10px;
  }
  .free-30-d{
    margin-bottom: 50px;
    margin-top: 20px;
  }
  .btn-register {
    width: 100%;
    background: #5ac4be;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    padding: 16px;
    color: #fff;
  }
}
